/.classpath

bin

bin
/Parser.jar
/bin/main
/bin

bin

bin

*.class

bin

logs
*.jar
out.c
a.out
out.o

*.o

/*.o
/*.o
a1.out
out1.c
output1.txt
a2.out
a3.out
input.txt
out2.c
out3.c
output.txt
a61.out
a62.out
a63.out
a64.out
a65.out
a66.out
a67.out
a68.out
a69.out
out61.c
out62.c
out63.c
out64.c
out65.c
out66.c
out67.c
out68.c
out69.c
output61.txt
output62.txt
output63.txt
output64.txt
output65.txt
output66.txt
output67.txt
output68.txt
output69.txt
